<h1>productos</h1>
<div class="products-container">
    {{#each payload}}
    <div class="product-card">
        <h2>{{title}}</h2>
        <p>Description: {{description}}</p>
        <p>Price: ${{price}}</p>
        <p>Stock: {{stock}}</p>
        <p>Category: {{category}}</p>



        <button class="buy-button">Buy Now</button>
    </div>
    {{/each}}
</div>

<div class="pagination">
    {{#if hasPrevPage}}
    <a href="{{prev}}">Previous</a>
    {{/if}}
    {{#if hasNextPage}}
    <a href="{{next}}">Next</a>
    {{/if}}
</div>